---
import styles from './Person.module.css';
import personConfig from '../content/person/config.json';
---

<div class={styles.personContainer}>
    <img
            src={personConfig.profileImage}
            alt={`${personConfig.name}'s profile picture`}
            class={styles.profileImage}
            width="64"
            height="64"
    />
    <div class={styles.personInfo}>
        <h3 class={styles.personName}>{personConfig.name}</h3>
        <p class={styles.personRole}>{personConfig.role}</p>
    </div>
</div>