---
import styles from './Person.module.css';
import personConfig from '../content/person/config.json';
import { Picture } from 'astro:assets';
---

<div class={styles.personContainer}>
    <Picture
            src={personConfig.profileImage}
            formats={["avif", "webp"]}
            alt={`${personConfig.name}'s profile picture`}
            class={styles.profileImage}
            width="128"
            height="128"
    />
    <div class={styles.personInfo}>
        <h3 class={styles.personName}>{personConfig.name}</h3>
        <p class={styles.personRole}>{personConfig.role}</p>
    </div>
</div>