---
// SideBarMenu.astro
import styles from './SideBarMenu.module.css';
import navigation from '../content/navigation/config.json';

const currentPath = Astro.url.pathname;



function isActive(href: string) {
    if (href === '/') {
        return currentPath === '/';
    }
    return currentPath.startsWith(href);
}
---

<ul class={styles.menu}>
    {navigation.navigation.map(({id, label, href, ...rest}) => (
            <li>
                <a
                        class={`${styles.menuItem} ${
                            isActive(href) ? styles.active : ''
                        }`.trim()}
                        id={id}
                        href={href}
                        {...rest}
                >
                    {label}
                </a>
            </li>
    ))}
</ul>
