---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SideBar from "../components/SideBar.astro";
import styles from '../layouts/BlogPost.module.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;

---

<html lang="en" data-theme="lofi">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<div class={styles.drawer}>
			<SideBar currentPath={currentPath} />

			<div class={styles.drawerContent}>
				<div class={styles.contentCenter}>
					<main class={styles.main}>
						<slot />
					</main>
				</div>
				<Footer />
			</div>
		</div>
	</body>
</html>